:root {
    --mindaro: #bce784ff;
    --emerald: #5dd39eff;
    --blue-munsell: #348aa7ff;
    --ultra-violet: #513b56ff; /* 525174ff */
    --english-violet: #525174ff; /* 513b56ff */
    --sm: max-width: 420px
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--english-violet);
}

.box {
    display: flow-root;
    margin: 1rem;
    padding: 4rem;
    max-width: 50rem;
    color: rgba(255, 255, 255, 0.904);
    font-family: "Ubuntu", serif;
    font-size: 1rem;
    font-size: clamp(1.25rem, 1.5vw, 2rem);
    background-color: var(--ultra-violet);
    border: 4px solid #00000052;
    box-shadow: 5px 20px 1rem -10px #000000a3;
    border-radius: 2rem;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 200px;
    border: 4px solid #00000052;
}

.title,
.subtitle {
    text-align: center;
}

.social-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem 0 1rem;
}

.link {
    text-decoration: none;
    background-color: var(--blue-munsell);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.45rem;
    margin: 0.5rem;
}

.link:hover {
    background-color: #5dd39eff;
    transition: all 0.2s linear;
}

p {
    text-align: center;
}


@media screen and (max-width: 420px) {
    .box {
        padding: 0.5rem;
        
    }
    .social-bar {
        flex-direction: column;
        text-align: center;
    }
}
